{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/static/css/admin_approval2.css">

        

</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        
                        <span class="title">Everything needs admin approval</span>
                    </a>
                </li>

                <li>
                    <a href="/viewalldoctor">
                        
                        <span class="title">All doctors</span>
                    </a>
                </li>

                <li>
                    <a href="/adddoctor">
                        
                        <span class="title">Add doctors</span>
                    </a>
                </li>

                

                

                

                

                <li>
                    <a href="/adminlogout" onclick="return confirm('Are you sure you want to Logout? click on ok to continue.');">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title"> Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                

                <!--<div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>-->

                <div class="user">
                    
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers"></div>
                        <div class="cardName">Doctors: {{doccount}}</div>
                    </div>

                    
                </div>

                <div class="card">
                    <div>
                        <div class="numbers"></div>
                        <div class="cardName">Patients: {{patcount}}
                           
                        </div>
                    </div>

                    
                </div>

                <div class="card">
                    <div>
                        <div class="numbers"></div>
                        <div class="cardName">Total appointments : {{appointmentcount}}</div>
                    </div>

                    
                </div>

                
                
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>All appointments</h2>
                        
                    </div>

                    

                        
                    <table id="example">
                        <thead>
                                <tr>
                                    <td>Appointment Id</td>
                                    <td>Patient Id</td>
                                    <td>Patient name</td>
                                    <td>Doctor Id</td>
                                    <td>Doctor name</td>
                                    <td>Date</td>
                                    <td>Time</td>
                                    <td>Status</td>
                                    <td>Option</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in app%}
                                <tr>
                                    <td>{{i.appid}}</td>
                                    <td>{{i.patid}}</td>
                                    <td>{{i.patid.user.first_name}} {{i.patid.user.last_name}}</td>
                                    <td>{{i.docid}}</td>
                                    <td>{{i.docid.user.first_name}} {{i.docid.user.last_name}}</td>
                                    <td>{{i.date}}</td>
                                    <td>{{i.starttime}}</td>
                                    <td>{{i.status}}</td>
                                    <!--<td style="color:#2aafe8"><a href="/acceptappointment/{{i.appid}}" class="btn">Accept</a></td>-->
                                    <td style="color:#2aafe8"><a href="/rejectappointment/{{i.appid}}" class="btn">Reject</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                           
                        

                        
                        
                    </table>  
                    <!--{% if error == "no" and u.status == "Accepted" %}
        <script>
            alert('Appointment accepted');
            window.location=('{% url "adminhome"%}');
            
        </script>
    {% endif %}-->
    {% if error == "no"  %}
        <script>
            alert('Appointment Rejected');
            window.location=('{% url "adminhome"%}');
            
        </script>
    {% endif %}
    {% if error == "yes" %}
        <script>
            alert('Something went wrong. Try again....');

        </script>
    {% endif %}
                            
                </div>

                
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>