{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK NOW</title>
    <!-- Core CSS - Include with every page -->
    <link href="/static/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="/static/assets/css/style.css" rel="stylesheet" />
    <link href="/static/assets/css/main-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/assets/css/bookingpagecss.css">
    <!-- Page-Level CSS -->
    <link href="/static/assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   </head>

<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="/static/assets/img/logo.png" alt="" />
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                    <!-- dropdown-messages -->
                   
                        
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bars fa-3x"></i>
                    </a>
                
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        
                        <li class="divider"></li>
                        <li><a href="/patlogout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="/static/assets/img/user.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <div><strong>Booking History</strong></div>
                                
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <!--<li class="sidebar-search">
                         search section
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>-->
                        <!--end search section-->
                    </li>
                    <li class="">
                        <a href="/patienthome"><i class="fa fa-laptop fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> Profile<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/editpatientprofile">Edit Profile</a>
                            </li>
                            <li>
                                <a href="/bookinghistory">History</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> Booking<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/bookappointment">Book Now</a>
                            </li>
                            
                            
                                </ul>
                                <!-- third-level-items -->
                            </li>
                            
                
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->
        <div id="page-wrapper">
            <section class="book" id="book">

                <div class="row">
                    <h2>Book Appointment</h2>
                </div>
                    <div class="book-container">
                        <div class="book-left">
                            <h4><i class="fa fa-calendar"></i> Slots</h4>
                            {% for k,v in d.items %}
                            <form class="form">
                                <h5>{{k}}</h5>
                                {%for i in v%}
                                    <label class="active">{{i}}</label>
                                {%endfor%}
                                
                              </form>
                            {% endfor %}
                            
                        
                              
                              

                              
                        </div>

                            <div class="book-right">
                                <h4><i class="fa fa-clock-o"></i> Book Your Slot</h4>
                                <form method="post" class="form-right">
                                    {%csrf_token%}
                                    <label>Select Date</label>
                                    <input type="date" id="reqdate" name="reqdate" class="input" required>
                                    <label>Select Time</label>
                                    <input type="time" id="appt" name="reqtime" class="input" required>
                                  
                                    <button type="submit" name="reqbook" value="Req a booking" >Request Booking</button>
                                    
                                </form>
                                {% if msg == "Appointment successful!"%}
    <script>
        alert('Appointment successfull! To cancel, please call in the helpline number');
        window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
  {% if msg == "Already has an appointment"%}
    <script>
        var docid='{{docid}}'
        alert('This slot is not available');
        //window.location=('{% url "bookappointment"%}');
        window.location.href='/bookdoc/'+docid;
      </script>
  {% endif %}
  {% if msg == "Please select a right time"%}
    <script>
        var docid='{{docid}}'
        alert('Please select a right time');
        window.location.href='/bookdoc/'+docid;
        //window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
  {% if msg == "Please select a valid date or a day matched with doctor's day"%}
    <script>
        var docid='{{docid}}'
        alert('Please select a valid date or a day matched with doctors day');
        //window.location=('{% url "patienthome"%}');
        window.location.href='/bookdoc/'+docid;
      </script>
  {% endif %}
  {% if msg == "Please select a future date and time"%}
    <script>
        var docid='{{docid}}'
        alert('Please select a future date and time');
        //window.location=('{% url "patienthome"%}');
        window.location.href='/bookdoc/'+docid;
      </script>
  {% endif %}
  {% if msg == "Please select a right slot"%}
    <script>
        var docid='{{docid}}'
        alert('Please select a right slot');
        //window.location=('{% url "patienthome"%}');
        window.location.href='/bookdoc/'+docid;
      </script>
  {% endif %}

                            </div>
            
                    
            
                    
                </div>
            
            </section>
            
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/static/assets/plugins/jquery-1.10.2.js"></script>
    <script src="/static/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/static/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/assets/plugins/pace/pace.js"></script>
    <script src="/static/assets/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="/static/assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/plugins/morris/morris.js"></script>
    <script src="/static/assets/scripts/dashboard-demo.js"></script>

</body>

</html>



<!--<h1>Booking page</h1>
<h1>doctor name={{doc.docid}}</h1>
<table>
  <thead>
    <tr>
        <th style="color:#2aafe8">Day </th>
        <th style="color:#2aafe8">Slot    </th>
    </tr>
</thead>
<tbody>
  {% for k,v in d.items %}
  <tr>
    
      
      <td>{{k}}</td>
      <td>{{v}}</td>

      
    
  </tr>
  {% endfor %}
</tbody>
</table>


<form method="post">
    {% csrf_token %}
    <label for="reqdate">Select a date:</label>
    <input type="date" id="reqdate" name="reqdate">
    <label for="appt">Select a time:</label>
    <input type="time" id="appt" name="reqtime">
    

    <input type="submit" name="reqbook" value="Req a booking">

</form>
{% if msg == "Appointment successful!"%}
    <script>
        alert('Appointment successfull');
        window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
  {% if msg == "Already has an appointment"%}
    <script>
        alert('Already has an appointment');
        window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
  {% if msg == "Please select a right time"%}
    <script>
        alert('Please select a right time');
        window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
  {% if msg == "Please select a valid date or a day matched with doctor's day"%}
    <script>
        alert('Please select a valid date or a day matched with doctors day');
        window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
  {% if msg == "Please select a future date and time"%}
    <script>
        alert('Please select a future date and time');
        window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
  {% if msg == "Please select a right slot"%}
    <script>
        alert('Please select a right slot');
        window.location=('{% url "patienthome"%}');
      </script>
  {% endif %}
    
  <!--<h1>bookappointment</h1>
<table id="example">
    <thead>
        <tr>
            <th style="color:#2aafe8">Doc id </th>
            <th style="color:#2aafe8">Qualification    </th>
            <th style="color:#2aafe8">dept    </th>
            
            <th style="color:#2aafe8">Option    </th>
        </tr>
    </thead>
    <tbody>
        {% for i in listofdoctors%}
        <tr>
            <td>{{i.docid}}</td>
            <td>{{i.qualification}}</td>
            <td>{{i.specialist}}</td>
            
            <td><a href="/bookdoc/{{i.docid}}" class="btn">Book now</a></td>
        </tr>
        {% endfor %}
    </tbody>
   
    
    
</table>-->

<!--<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Doctor</title>
    
    <link href="/static/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
  <link href="/static/assets/css/style.css" rel="stylesheet" />
      <link href="/static/assets/css/main-style.css" rel="stylesheet" />
      
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 
    <link href="/static/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <style>
        body {
            color: #404E67;
            background: rgb(221,209,215);
background: radial-gradient(circle, rgba(221,209,215,1) 0%, rgba(101,170,254,1) 88%);
            font-family: 'Open Sans', sans-serif;
        }
        .table-wrapper {
            width: 700px;
            margin: 30px auto;
            background: #fff;
            padding: 20px;	
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }
        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }
        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }
        .table-title .add-new i {
            margin-right: 4px;
        }
        table.table {
            table-layout: fixed;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        table.table th:last-child {
            width: 100px;
        }
        table.table td a {
            cursor: pointer;
            display: flexbox;
            margin: 0 5px;
            min-width: 25px;
            align-items: center;
        }    
        
        
        table.table td a.view {
            color: hsl(239, 77%, 52%);
        }
        table.table td i {
            font-size: 20px;
        }
        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }    
        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }
        table.table .form-control.error {
            border-color: #f50000;
        }
        table.table td .add {
            display: none;
        }
        </style>
        
</head>

<body>
  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
       
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/patienthome">
                <img src="/static/assets/img/logo.png" alt="" />
            </a>
        </div>
        
        
        <ul class="nav navbar-top-links navbar-right">
            

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bars fa-3x"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-user">
                    
                    
                    <li class="divider"></li>
                    <li><a href="/patlogout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </li>
                </ul>
               
            </li>
            
        </ul>
        
    </nav>
   
    <nav class="navbar-default navbar-static-side" role="navigation">
       
        <div class="sidebar-collapse">
            
            <ul class="nav" id="side-menu">
              <li>
                  
                  <div class="user-section">
                      <div class="user-section-inner">
                          
                      </div>
                      <div class="user-info">
                          <div><strong>Edit Profile</strong></div>
                  </div>
                  
              </li>
              <li class="sidebar-search">
                  
                
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              
              </li>
              <li class="">
                  <a href="/patienthome"><i class="fa fa-laptop fa-fw"></i>  Dashboard</a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-user"></i>  Profile<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <a href="/editpatientprofile">Edit Profile</a>
                      </li>
                      <li>
                          <a href="/bookinghistory">History</a>
                      </li>
                  </ul>
                 
              </li>
              
              
              <li>
                  <a href="#"><i class="fa fa-edit fa-fw"></i> Booking<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <a href="/bookappointment">Book Now</a>
                      </li>
                      
                      
                          </ul>
                          
                      </li>
                  
             
          </ul>
          
        </div>
        
    </nav>
       
        <div id="page-wrapper">

            
         
                 
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                
                 
                 <div class="container-lg">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6"><h2>Available<b> Timeslots</b></h2></div>
                                    
                                </div>
                            </div>
                            
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                    <th style="color:#2aafe8">Day </th>
                                    <th style="color:#2aafe8">Slot    </th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for k,v in d.items %}
                              <tr>
                                
                                  
                                  <td>{{k}}</td>
                                  <td>{{v}}</td>
                            
                                  
                                
                              </tr>
                              {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>     
       

    </div>
    

   
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/plugins/pace/pace.js"></script>
    <script src="assets/scripts/siminta.js"></script>
    
    <script src="assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

</body>

</html>-->

  

