{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Online Doctor Booking System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style2.css">
    <script>
      function checkpassword(){
          
          if(document.signup.password.value!=document.signup.cpassword.value){
              alert('Password did not match');
              document.signup.cpassword.focus();
              return false;
          }
          return true;
  
      }
      </script>
    
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
          <div class="title login">Login Form</div>
          <div class="title signup">Signup Form</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" value="login" checked>
            <input type="radio" name="slide" id="signup" value="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            
            <form method="post" class="login">
                {% csrf_token %}
              <div class="field">
                <input type="text" placeholder="Email Address" name="email" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Password" name="password" required>
              </div>
              
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" name="login" value="Login">
              </div>
              <div class="signup-link">Not a member? <a href="">Signup now</a></div>
              <div class="signup-link">Go back to <a href="/">Home</a></div>
            </form>
            {% if errorinlogin == "no"%}
                <script>
                    alert('login successfull');
                    window.location=('{% url "patienthome"%}');
                </script>
            {%endif%}
            {% if errorinlogin == "yes"%}
                <script>
                    alert('Something went wong');
                    window.location=('{% url "commonregistration"%}');
                </script>
            {%endif%}
            {% if errorinlogin == "incorrect password"%}
                <script>
                    alert('Invalid credentials');
                    window.location=('{% url "commonregistration"%}');
                </script>
            {%endif%}
            <form method="post" name="signup" class="signup" onsubmit="return checkpassword()">
              
                {% csrf_token %}
              <div class="field">
                <!--<input type="email" name="emailid" placeholder="Email Address" title="please match correct format" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>-->
                <input type="email"  name="emailid" placeholder="Email" pattern="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/"  required="required">
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password" title="Must contain at least one number ,one uppercase,one lowercase letter, one special character and at least 8 or more characters" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
              </div>
              <div class="field">
                <input type="password" name="cpassword" placeholder="Confirm password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" name="signup" value="Signup" >
              </div>
            </form>
            {% if errorinsignup == "no"%}
                <script>
                    alert('signup successfull');
                    window.location=('{% url "commonregistration"%}');
                </script>
            {%endif%}
            {% if errorinsignup == "yes"%}
                <script>
                    alert('something went wrong');
                    window.location=('{% url "commonregistration"%}');
                </script>
            {%endif%}
          </div>
        </div>
      </div>
  <script src="/static/js/script2.js"></script>
    
</body>
</html>