

body {
    background: rgb(255,251,253);
background: radial-gradient(circle, rgba(255,251,253,1) 14%, rgba(101,170,254,1) 100%);
}




    

.navbar-static-side ul li {
    border-bottom:1px solid #84B899 !important;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;

}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}



/* Pages */

/* ------------------------------- */
.panel-heading {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-top: -5rem;

}
.panel-heading img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    size: cover;
}
.content{
    flex:  1 1 45rem;
    padding: 1rem;
    top: -35rem;
    margin-top: -10rem;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    right: 50rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    
}
.content h3{
    font-size: 4rem;
    color:var(--black);
    padding: 2rem 0;
    text-align: center;

}
.content p{
    font-size: 2rem;
    text-align: center;
   
    
}


:root{
    --green:hsl(219, 93%, 61%);
    --black:#2b2929;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 144, 160, 0.2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}



html{
    
    overflow-x: hidden;
    scroll-padding-top: 0.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
    margin-top: 5rem;
    max-height: 150vh;
    position: relative;
    align-items: center;

    
   
}

section:nth-child(even){
    background: #fff;
}


.btn btn-primary{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
    
    
}

.btn btn-primary span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn btn-primary:hover{
    background: var(--green);
    color:#fff;
}

.btn btn-primary:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}




 




.book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.book .row .image{
    flex:1 1 45rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.book .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

button{
    padding:1rem 4rem;
}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}