@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:hsl(219, 93%, 61%);
    --black:#2b2929;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 144, 160, 0.2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
    
    

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 0.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 5rem;
    min-height: 100vh;
    position: relative;
    align-items: center;

    
   
}

section:nth-child(even){
    background: #fff;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
    
    
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
}



  .dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0 3px;
    text-align: center;
    position: relative;
    left: 10%;
    width: 100%;
    border-radius: .5rem;
}
.dropdownmenu ul {
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: hsl(219, 93%, 61%);
    border-radius: 0.5rem;
	color: #FFFFFF;
	display: block;
    font-size: 1.5rem;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
	opacity: 0;
    position: absolute;
    text-align: center;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: hwb(332 27% 3%);
}
#submenu a {
	background-color:#000000;
}
 
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 2rem;
    cursor: pointer;
    display: none;
    
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}

.home .image{
    float: left;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color:var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.services .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}

.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}



.book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.book .row .image{
    flex:1 1 45rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.book .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

button{
    padding:1rem 4rem;
}
.review {
    content: "";
    align-items: center;
    min-height: 150vh;
    
    padding: 50px;
    text-align: center;
    
    
}
.review .box-container .box{
    max-width :800px;
    margin: 0 auto;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    border-radius : 3px;
    gap: 2rem;
    right: 50px;
    min-height: 100vh;
    
    
   

   
    
 }
 
 

.review .box-container .box form {
    text-align: center;
    align-items: right;
    width: 100%;
    margin:.7rem 0;
    background: hsl(192, 87%, 85%);
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    right: 50px;
    
    
    
}


.review .box-container  .box form .form-group .form-sup textarea, input{
    display: block;
    width: 100%;
    margin:.7rem 0;
    color: var(--black);
    text-transform: none;
    padding: 12px;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.7rem;
    

}


              
    
/*input:focus, textarea:focus{
    outline: none;
    border: 2px solid var(--green);
}*/
button{
    padding:1rem 4rem;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;

    
}
.review .box-container .contact-info{
    
    text-align: right 0 0;
    right: 50px;
    width: 100%;
    margin:.7rem 0;
    justify-content: center;

}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.contact-info p{
    margin-bottom: 10px;
    font-size: 1.7rem;
}
.contact-info i{
    color:hsl(240, 70%, 62%);
    margin-right: 10px;

}
@media screen and (max-width: 768px) {
    .box-container{
        padding: 20px 0;
    }    
    .box{
        margin-bottom: 20px;
        padding: 20px;

    }
}







.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
    
}

.footer .box-container .box a i{
    padding-left: 10px;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span a{
    color:var(--green);
}

.footer .credit span a:hover{
    background-color:var(--green);
    color: white;
    padding: 5px;
}









/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}